#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8rem 4rem;

  @media (max-wdith: 800px) {
      padding: 1rem 2rem;
  }
}

.description {
  margin-top: 18px;
}

.tabList {
  display: flex;
  gap: 1rem;
}

.tabButton {
  background: transparent;
  transition: transform 0.2s ease;
  font-size: 1.25rem;
  padding-left: 0;

  &:hover, :focus-visible {
    border: none;
    outline: none;
    transform: scale(1.01)
  }

  &:hover, :active {
    font-weight: bold;
        transform: scale(1.01)

  }
}

.tabButton.activeTab {
  font-weight: bold;
}

.TabsContent {
  padding-top: 30px;
}
