#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 4rem;

  @media (max-wdith: 800px) {
      padding: 1rem 2rem;
  }
}

.description {
  margin-top: 18px;
}

.header {
  margin-bottom: 50px;
}

.tabButton {
  background: transparent;
  
  &:hover, :focus-visible {
    border: none;
    outline: none;
  }

  &:hover, :active {
    font-weight: bold;
  }
}

.tabButton.activeTab {
  font-weight: bold;
}

.TabsContent {
  padding-top: 30px;
}
