#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8rem 4rem;

  @media (max-width: 800px) {
    padding: 5rem 3rem;
  }
}

.description {
  margin-top: 18px;
}

.tabList {
  display: flex;
  gap: 1rem;
}

.tabButton {
  background: transparent;
  transition: transform 0.2s ease;
  font-size: 1.25rem;
  padding-left: 0;
  border: none;
  outline: none;
  min-width: 100px;

  &:hover:not(.activeTab), &:focus-visible:not(.activeTab) {
    font-weight: bold;
    transform: scale(1.01)
  }


  &:focus {
    outline: none;
  }
}

.tabButton.activeTab {
  font-weight: bold;
  transform: none;
}

.TabsContent {
  padding-top: 30px;
}
